{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}

<style>

.alert-error {
  background-color: #FF6347;
  color: black;
}

.alert-success {
  background-color: #98FB98;
  color: black;
}


</style>>
<center>
    <a href="/"><button class="tablink" style="background:rgb(70,130,180); color: white">Tickets</button></a>
    <a href="flight"><button class="tablink">Flights</button></a>
    <a href="airport"><button class="tablink">Airports</button></a>
    <a href="airline"><button class="tablink">Airlines</button></a>
    <a href="passenger"><button class="tablink">Passengers</button></a>
    <a href="passengerDetails"><button class="tablink">Passenger_Details</button></a>
    <a href="topCountries"><button class="tablink">Top Visited Countries</button></a>
    <a href="leastCountries"><button class="tablink">Least Visited Countries</button></a>
    <a href="topMonths"><button class="tablink">Top Popular Months</button></a>


</center>
<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">

                <h2>Manage <b>Tickets </b>  <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Adauga un bilet</button> </h2>


                {% with messages = get_flashed_messages(with_categories=True) %}

                {% if messages %}

                {% for category,message in messages %}

                <div class="alert alert-{{category}}" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>

                        <th>TicketNumber</th>
                        <th>Price</th>
                        <th>ConfirmationCode</th>
                        <th>FlightNumber</th>
                        <th>PassengerID</th>
                        <th>Action</th>

                    </tr>


                   {% for row in tickets %}
                    <tr>
                        <td>{{row.TicketNumber}}</td>
                        <td>{{row.Price}}</td>
                        <td>{{row.ConfirmationCode}}</td>
                        <td>{{row.FlightNumber}}</td>
                        <td>{{row.PassengerID}}</td>
                        <td>
                            <a href="/update/{{row.TicketNumber}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.TicketNumber}}">Editeaza</a>
                            <a href="/deleteTicket/{{row.TicketNumber}}" class="btn btn-danger btn-xs" onclick="return confirm('Esti sigur ca vrei sa stergi biletul ?')">Sterge</a>
                        </td>

                    </tr>


                  <!-- Modal Edit Ticket-->

<div id="modaledit{{row.TicketNumber}}" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Actualizeaza bilet</h4>


         </div>


         <div class="modal-body">


            <form action="{{url_for('update')}}" method="POST">


               <div class="form-group">
                  <label>Price:</label>
                   <input type="hidden"  name="tn" value="{{row.TicketNumber}}">
                  <input type="number" class="form-control" name="Price" value="{{row.Price}}">
               </div>

               <div class="form-group">
                  <label>Confirmation code:</label>
                  <input type="text" class="form-control" name="ConfirmationCode" value="{{row.ConfirmationCode}}">
               </div>

               <div class="form-group">
                  <label>Flight number:</label>
                  <input type="number" class="form-control" name="FlightNumber" value="{{row.FlightNumber}}">
               </div>

               <div class="form-group">
                  <label>Passenger ID:</label>
                  <input type="number" class="form-control" name="PassengerID" value="{{row.PassengerID}}">
               </div>

               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Actualizeaza</button>
               </div>
            </form>
         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>


                    {% endfor %}


                </table>


            </div>


                  <!-- Modal Add Ticket-->



	<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Add Ticket</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('insert')}}" method="POST">


                <div class="form-group">
                  <label>Price:</label>
                  <input type="number" class="form-control" name="Price" required="1">
                </div>

                <div class="form-group">
                  <label>Confirmation code:</label>
                  <input type="text" class="form-control" name="ConfirmationCode" required="1">
                </div>
                <div class="form-group">
                  <label>Flight number:</label>
                  <input type="number" class="form-control" name="FlightNumber" required="1">
                </div>
                <div class="form-group">
                  <label>Passenger ID:</label>
                  <input type="number" class="form-control" name="PassengerID" required="1">
                </div>

               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Add Ticket</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>





        </div>

    </div>


</div>


{% endblock %}